[flake8]
ignore = E402, F541
exclude = .git,__pycache__,docs/source/conf.py,old,build,dist
per-file-ignores =
    .\product\tests\features\steps\orders.py: F811,E501
    .\product\tests\features\steps\category.py: F811
