{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="button_my">
        <a class="btn" href="#"><img style="width: 45px; height: 34px" src="{% static 'images_common/backward.png' %}" alt=""></a>
        <a class="create btn btn-success btn-sm" style="border-radius: 10px; padding: 10px" href="{% url 'create_category' %}">Добавить категорию</a>
    </div>

    <div class="table-responsive-2" >
        <table class="table">
            <thead>
            <tr>
                <th >Категория</th>
                <th >Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for category in categories %}
                    <td scope="row">
                        <a style="text-decoration: none; color: black" href="{% url 'list_category_product' category %}">{{ category.category_name }}</a>
                    </td>
                    <td scope="row">
                        <a href="{% url 'list_category_product' category %}">
                            <button class="btn btn-warning btn-sm" style="color: white">Список блюд - <b>{{ category.products_count }}шт</b></button>
                        </a>

                    </td>
                    </tr>
                {% empty %}
                    <h2>категорий не найдены</h2>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
