{% extends 'base.html' %}

{% block content %}
    <div class="row row-cols-2">
        <div class="col col-2">
            <ul class="nav flex-column navbar-light bg-light">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/accounts/profile/update/' %} active {% endif %}"
                           aria-current="page"
                           href="{% url 'update_profile' %}">Редактировать профиль</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/accounts/profile/change_password/' %} active {% endif %}" href="{% url 'change_password' %}">Изменить пароль профиля</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/accounts/logout/' %} active {% endif %}"
                       aria-current="page"
                       href="{% url 'logout' %}">Выйти с аккаунта</a>
                </li>
            </ul>

        </div>
        <div class="col col-6">
            <h2>Поменять личные данные</h2>
            <form style="width: 50%" action="{% url 'update_profile' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'partial/user_form.html' %}
                {% include 'partial/profile_form.html' %}

                <input type="submit" value="Submit" class="btn btn-success">
            </form>
        </div>
    </div>

{% endblock %}