
{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="card mb-3" style="margin-top: 3%; width: 500px">
    {% for about in aboutus %}
        <div class="row g-0">
            <div class="card-body" style="color: #5C9900; margin-left: 5%">

                    <h5 class="card-title">О НАС</h5>
                    <p class="card-subtitle mb-2 text-muted"> <b>{{ about.description }}</b></p>
                    <p class="card-subtitle mb-2 text-muted"> <b>Телефон: {{ about.telephone_number }}</b></p>

                    <div style="display: flex; justify-content: space-between; margin-top: 5%">
                        {#                    {% if request.user == product.author or request.user.groups.all.0.name == 'Модераторы'%}#}
                        <a class="btn btn-outline-primary" style="margin-left: 2%" href="{% url 'detail_aboutus' about.pk %}">подробнее...</a>
                        {#                    {% endif %}#}

                    </div>

                </div>

        </div>
    {% endfor %}
    </div>

{% endblock %}






