
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div style="margin-top: 3%">
        <a class="btn btn-secondary btn-lg btn_back" style="margin-right: 5%;" href="{% url 'list_product' %}"><< Назад </a>
        <a class="btn btn-success btn-lg btn_add" href="{% url 'create_aboutus' %}">Добавить "О нас"</a>
    </div>

    <div class="flex_aboutus">
    {% for about in aboutus %}
        <div class="card card_aboutus">
            <div class="card-body" style="color: #5C9900; margin-left: 5%">
                    <h5 class="card-title" style="margin: 5px auto;">О НАС</h5>
                    <p class="card-subtitle mb-2 text-muted" style="margin: 15px auto;">{{ about.description }}</p>
                    <p class="card-subtitle mb-2 text-muted" style="margin: 5px auto;"> <b>Телефон: {{ about.telephone_number }}</b></p>

                    <div style="display: flex; justify-content: space-between; margin-top: 5%">
<!--                                                <a class="btn btn-outline-primary" href="{% url 'update_aboutus' about.pk %}">Редактировать</a>-->
                        <a class="btn btn-outline-primary" href="{% url 'detail_aboutus' about.pk %}">Подробнее...</a>
                    </div>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}






