
{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% if user.is_authenticated %}
        <div style="margin-top: 3%">
            <a class="btn btn-2 btn-sm" href="{% url 'create_aboutus' %}">Добавить "О нас"</a>
        </div>
    {% endif %}

    <div class="flex_aboutus">
        {% for about in aboutus %}
            <div class="card card_aboutus">
                <div class="card-body" style="color: #5C9900; margin-left: 5%">
                    <h5 class="card-title" style="margin: 5px auto;">О НАС</h5>
                    <p class="card-subtitle mb-2 text-muted" style="margin: 15px auto;">{{ about.description }}</p>
                    <p class="card-subtitle mb-2 text-muted" style="margin: 5px auto;"> <b>Телефон: {{ about.telephone_number }}</b></p>
                    <div style="display: flex; justify-content: space-between; margin-top: 5%">
                        <a class="btn btn-outline-primary" href="{% url 'detail_aboutus' about.pk %}">Подробнее...</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}






