
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="card card_aboutus_detail">
    <div class="card-body" style="color: #5C9900; margin-left: 5%">
        <h5 class="card-title" style="margin: 5px auto;">О НАС</h5>
        <p class="card-subtitle mb-2 text-muted" style="margin: 15px auto;">{{ aboutus.description }}</p>
        <p class="card-subtitle mb-2 text-muted" style="margin: 5px auto;"> <b>Телефон: {{ aboutus.telephone_number }}</b></p>
        <div class="detail_us_btn">
            <a class="btn btn-outline-primary" href="{% url 'update_aboutus' aboutus.pk %}">Изменить</a>
            <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-outline-danger">Удалить</button>
        </div>
    </div>
</div>




{#            {% include 'common/delete_modal.html' with deleted_object=product%}#}


{% endblock %}






