{% load static %}
{% block content %}
    <div class="button_my">
        <a class="btn" style="margin-right: 5%" href="#"><img style="width: 45px; height: 34px" src="{% static 'images_common/backward.png' %}" alt=""></a>
        <a class="create btn btn-success btn-sm"  href="{% url 'create_product' %}">Добавить блюдо</a>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Название</th>
                <th>Цена</th>
                <th>Наличие</th>
                <th>Действие</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                <td data-label="Название">
                    <a style="text-decoration: none; color: black" href="{% url 'detail_product' product.pk %}" class="card-link" >{{ product.product_name }}</a>
                </td>
                <td data-label="Цена">
                    <p>{{ product.price }} KZT</p>
                </td>
                <td data-label="Наличие">
                    {{ product.available }}
                </td>
                <td data-label="Действие">
                    <a href="{% url 'detail_product' product.pk %}" class="btn btn-light" ><img style="width: 45px; height: 34px" src="{% static 'images_common/eye.png' %}" alt=""></a>
                </td>
                </tr>
            {% empty %}
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-center">
        {% if is_paginated %}
            {% include 'common/pagination.html' %}
        {% endif %}
    </div>

{% endblock %}

