{% load static %}
{% block content %}
    <div class="mainclass" style="display: flex; flex-wrap: wrap; width: 1250px">
   {% for product in products %}
        <div class="card mb-3" style="max-width: 410px; height:170px; margin: 5px; ">

              <div class="row g-0">
                <div class="col-md-6" style="width: 200px">
                  {% if product.photo %}
                  <img src="{{ product.photo.url|default:'' }}" class="img-fluid rounded-start" style="height: 170px; width: 205px " alt="...">
                  {% else %}
                    <img src="{% static 'images_common/no_image.jpg' %}" style="height: 170px; width: 205px "alt="">
                  {% endif %}
                </div>

                <div class="col-md-6" style="width: 200px">
                  <div class="card-body" style="color: #5C9900;">
                    <h5 class="card-title">{{ product.title }}</h5>
                      <p class="card-text">
                          {{ product.category.title|default:'Не указано'|upper }}
                      </p>

                     <a href="{% url 'detail_product' product.pk %}" class="card-link" >see more >>> </a>
                 </div>
                </div>
               </div>



        </div>
         {% empty %}
      <h2>проукты не найдены</h2>

  {% endfor %}



    </div>

{% endblock %}

