{% extends 'base.html' %}

{% block content %}
    <div class="container" style="width: 500px">
        Действительно ли вы хотите удалить отзыв?

    <form action="{% url 'delete_review' review.pk %}" method="POST">
        {% csrf_token %}
                   <a class="btn btn-outline-primary btn-sm mt-1 mb-1"
               href="{% url 'list_product' %}">Отмена
            </a>
       <button class="btn btn-outline-danger btn-sm mt-1 mb-1" type="submit">Удалить</button>

    </form>
    </div>
{% endblock %}