
{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>

<div class="container" style="width:600px; height: 30px">


</div>
     <div class="card mb-3" style="max-width: 600px; height: 220px; margin: 20px;">
      <div class="row g-0">

        <div class="col-md-6" >
          {% if product.photo %}
          <img src="{{ product.photo.url|default:'uploads/products/no_image' }}" class="img-fluid rounded-start" style="height: 212px; width: 300px " alt="...">
          {% else %}
          <img src="{% static 'images_common/no_image.jpg' %}" style="height: 212px; width: 300px "alt="">
          {% endif %}
        </div>


        <div class="col-md-6">
          <div class="card-body" style="color: #5C9900;">
                        <a class="mr-2"
                 href="{% url 'profile' product.author.pk %}">{{ product.author }}
              </a>
            <h5 class="card-title"> {{ product.title }}</h5>
            <p class="card-subtitle mb-2 text-muted">Цена: {{ product.price }}</p>
            <p class="card-subtitle mb-2 text-muted">Наличие: {{ product.status }}</p>
            <h8 class="card-subtitle mb-2 text-muted" style="margin-top: 10px;">Средняя оценка: {{ product_avg_evaluation.evaluation__avg|default:0 }}</h8>
            <p class="card-subtitle mb-2 text-muted">{{ product.text }}</p>
                  {% if request.user == product.author or request.user.groups.all.0.name == 'Модераторы'%}
                 <a class="btn btn-outline-primary" style="font-size: 13px" href="{% url 'update_product' product.pk %}">Изменить</a>
                {% endif %}
                 {% if request.user == product.author or request.user.groups.all.0.name == 'Модераторы'%}
                <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-outline-danger" style="font-size: 13px">Удалить</button>
                {% endif %}

          </div>

        </div>
            <div style="width: 50%;">
            {% if request.user.is_authenticated  %}
               <form action="{% url 'create_review' product.pk %}" method="POST">
                  {% include "partial/review/review_form.html" with button_text='Ок' %}
               </form>
            {% endif %}

                {% if product.reviews %}
                    {% include "partial/review/review_list.html" with reviews=product.reviews.all%}

                {% endif %}
            </div>


             {% include 'common/delete_modal.html' with deleted_object=product%}



          </div>
       </div>
    </div>





</body>

{% endblock %}






