{% extends 'base.html' %}

{% block content %}
    <form action="{% url 'change_password' %}" method="post" style="width: 40%;">
        {% csrf_token %}
        <div class="form-group">
            <label for="password" class="form-label col-4">Пароль</label>
            <input class="form-control {% if form.password.errors %} is-invalid {% endif %}" type="password"
                   name="password" id="password">
            {% for error in form.password.errors %}
                <p class="invalid-feedback">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="password_confirm" class="form-label col-4">Повторите пароль</label>
            <input class="form-control {% if form.password_confirm.errors %} is-invalid {% endif %}"
                   type="password" name="password_confirm" id="password_confirm">
            {% for error in form.password_confirm.errors %}
                <p class="invalid-feedback">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="password_old" class="form-label col-5">Введите старый пароль</label>
            <input class="form-control {% if form.password_old.errors %} is-invalid {% endif %}"
                   type="password" name="password_old" id="password_old">
            {% for error in form.password_old.errors %}
                <p class="invalid-feedback">{{ error }}</p>
            {% endfor %}
        </div>
        <input type="submit" value="Submit" class="btn btn-success">
    </form>

{% endblock %}