{% extends 'base.html' %}

{% block content %}
<div class="text-center" style="width: 50%; margin-left: auto; margin-right: auto; margin-top: 3%">
    <h1> Смена пароля</h1>
    <form action="{% url 'change_password' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label style="font-weight: bold" for="password_old" class="form-label">Старый Пароль:</label>
            <input class="form-control bot {% if profile_form.password_old.errors %} is-invalid {% endif %}" type="password" name="password_old" id="password_old" required>
            {% for error in form.password_old.errors %}
            <p class="invalid-feedback">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="form-group">
            <label style="font-weight: bold" for="password" class="form-label">Новый пароль:</label>
            <input class="form-control bot {% if profile_form.password_confirm.errors %} is-invalid {% endif %}" type="password" name="password" id="password" required>
            {% for error in form.password_confirm.errors %}
            <p class="invalid-feedback">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="form-group">
            <label style="font-weight: bold" for="password_confirm" class="form-label">Подтвердите новый пароль:</label>
            <input class="form-control bot {% if form.password_confirm.errors %} is-invalid {% endif %}" type="password" name="password_confirm" id="password_confirm" required>
            {% for error in form.password_confirm.errors %}
            <p class="invalid-feedback">{{ error }}</p>
            {% endfor %}
        </div>
        <div style="display: flex; justify-content: space-between; margin-top: 20px">
            <input type="submit" value="Изменить пароль" class="btn btn-3 btn-sm">
            <a class="btn btn-4 btn-sm" href="{% url 'profile' request.user.pk %}">Назад</a>
        </div>
    </form>
</div>

{% endblock %}
