{% extends 'base_register.html' %}
{% load static %}
{% block content %}
    <div class="container form-auth">
        <div class="row row-cols-2">
            <div class="col" style="margin-right: auto; margin-left: auto; margin-top: 3%">
                <h4 style="text-align: center; font-size: 35px">Логиниться</h4>
                <form action="{% url 'login' %}{% if next %}?next={{ next }}{% endif %}" method="post"
                      class="row align-items-center">
                    <div>
                        {% csrf_token %}
                        {% if has_error %}
                            <p class="form-error">Неверное имя пользователя или пароль.</p>
                        {% endif %}
                        <input style="text-align: center"
                               type="text" class="form-control" id="inputUsername3" name="username"
                               placeholder="Введите имя пользователя или эл. адрес">
                        <input style="text-align: center; margin-top: 3%"
                               type="password" class="form-control" id="password" name="password" placeholder="Пароль">
                        <button style=" margin-top: 3%"
                                type="submit" class="btn btn-primary form-control">Войти</button>
                    </div>

                </form>
            </div>
        </div>

    </div>
{% endblock %}