{% extends 'base_register.html' %}
{% block content %}
    <div class="container">
        <div class="register_form">
            <div class="register_form_under_div" style="border: 1px solid #b2a7a7">
                <h1 style="font-family: Calibri; text-align: center">Регистрация</h1>
                <form action="{% url 'register' %}" enctype="multipart/form-data" method="post" class="text-center">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control {% if form.username.errors %} is-invalid {% endif %}" type="text"
                               name='username' id="username" value="{{ form.username.value|default:'' }}"
                               placeholder="Логин">
                        {% for error in form.username.errors %}
                            <p class="invalid-feedback">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <input class="form-control {% if form.email.errors %} is-invalid {% endif %}" type="email"
                               name='email' id="email" value="{{ form.email.value|default:'' }}"
                               placeholder="Адрес электронной почты">
                        {% for error in form.email.errors %}
                            <p class="invalid-feedback">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="form-group" style="text-align: left; color: gray">
                        <label for="avatar">Аватар</label>
                        {% if profile_form.avatar.value.url %}
                            <img src="{{ profile_form.avatar.value.url }}" alt="avatar"
                                 style="width: 70px; height: 70px">
                        {% endif %}
                        <input type="file" name='avatar' id="avatar" value="{{ profile_form.avatar.value|default:'' }}"
                               class="form-control {% if profile_form.avatar.errors %} is-invalid {% endif %}">
                        {% for error in profile_form.avatar.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <input class="form-control {% if form.first_name.errors %} is-invalid {% endif %}" type="text"
                               name='first_name' id="first_name" value="{{ form.first_name.value|default:'' }}"
                               placeholder="Имя">
                        {% for error in form.first_name.errors %}
                            <p class="invalid-feedback">{{ error }}</p>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        <input type="text" name='about_profile' id="about_profile"
                               value="{{ profile_form.about_profile.value|default:'' }}"
                               placeholder="Информация о пользователе"
                               class="form-control {% if profile_form.about_profile.errors %} is-invalid {% endif %}">
                        {% for error in profile_form.about_profile.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="form-group" style="text-align: left; color: gray">
                        <label for="gender">Пол</label>
                        <select name="gender" id="gender" class="form-control">
                            {% for gender in genders %}
                                <option value="{{ gender.0 }}" {% if gender.0  == profile_form.gender.value %}
                                        selected
                                {% endif %} >{{ gender.1 }} </option>
                            {% endfor %}
                        </select>
                        {% for error in profile_form.gender.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        <input type="tel" name='phone' id="phone"
                               value="{{ profile_form.phone.value|default:'' }}"
                               placeholder="Номер телефона"
                               class="form-control {% if profile_form.phone.errors %} is-invalid {% endif %}">
                        {% for error in profile_form.phone.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        <input class="form-control {% if form.password.errors %} is-invalid {% endif %}" type="password"
                               name="password" id="password" value="{{ form.password.value|default:'' }}"
                               placeholder="Пароль">
                        {% for error in form.password.errors %}
                            <p class="invalid-feedback">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <input class="form-control {% if form.password_confirm.errors %} is-invalid {% endif %}"
                               type="password" name="password_confirm" id="password_confirm"
                               value="{{ form.password_confirm.value|default:'' }}" placeholder="Повторите пароль">
                        {% for error in form.password_confirm.errors %}
                            <p class="invalid-feedback">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <button class="btn btn-info form-control" type="submit">Регистрация</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
