{% load static %}
<style>
   .photo {
    display: inline-block; /* Строчно-блочный элемент */
    position: relative; /* Относительное позиционирование */
   }
   .photo:hover::after {
    content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    right: 0; top: 50%; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    {#background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */#}
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 15px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
    {#border: 1px solid #333; /* Параметры рамки */#}
   }
  </style>
<nav class="navbar navbar-expand-lg all">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'orders_view' status='Новый' %}" ><img src="{% static 'images_common/food-stall.png' %}" style="width: 80px; height: 60px"></a>
        <button class="navbar-toggler" type="button" style="border-color: gray" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><img src="{% static 'images_common/menu.png' %}" style="width: 30px"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" >
                    <a class="nav-link menu" aria-current="page" href="{% url 'list_category' %} ">Меню</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item" >
                        <a class="nav-link menu" aria-current="page"  href="{% url 'orders_view' status='Новый' %} ">Заказы</a>
                    </li>

                    <li class="nav-item" >
                        <a class="nav-link menu" aria-current="page"  href="{% url 'reserve_list' status='Новый' %}">Столики</a>
                    </li>
                {% endif %}
                <li class="nav-item" >
                    <a class="nav-link menu" aria-current="page"  href="{% url 'feedback_list' %}">Отзывы</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link menu" aria-current="page"  href="{% url 'aboutus_view' %} ">О нас</a>
                </li>
            </ul>
            <span class="navbar-text">
                <ul class="navbar-nav" >
              <form class="d-flex" method="get">
                    <input style="border-radius: 20px" class="form-control me-2" value="{{ form.search.value|default:""}}" name="search" type="search" placeholder="Поиск" aria-label="Search">
                    <button
                            style="border-radius: 17px; color: white; border-style: solid; border-color: white; border-width: 1px"
                            class="btn " type="submit">
                        Поиск
                    </button>
                </form>
                    {% if not request.user.is_authenticated %}
                        <li class="nav-item">
                  <a class="nav-link"
                     aria-current="page" style="color: white; font-weight: bold; margin-top: 7px"
                     href="{% url 'login' %}"
                  >Войти</a>
                </li>
                    {% else %}
                        <li class="nav-item">
                        <div class="photo" data-title="Выход из профиля {{ request.user.first_name }}">
                            <a class="nav-link" href="{% url 'logout' %}"><img style="width: 35px; height: 35px; padding-top: 7px; margin-left: 4px" src="{% static 'images_common/logout.png' %}"  alt=""></a>
                        </div>
                      </li>
                    {% endif %}

                    <li class="nav-item">
                    {% if user.is_authenticated %}

                        <div class="photo" data-title="Профиль {{ request.user.first_name }}">
                        <a class="nav-link"
                           href="{% url 'profile' request.user.pk %}"><img style="width: 35px; height: 35px" src="{% static 'images_common/user.png' %}"  alt=""
                                                                           class="d-inline-block align-text-top icons"><br></a>
                        </div>

                    {% endif %}
                </li>
              </ul>
          </span>
        </div>
    </div>
</nav>
