{% csrf_token %}
<form id="createForm" action="{% url 'create_comment' feedback.pk %}" method="post">
    {% csrf_token %}
    <div>
        <div>
            <input placeholder="Добавьте комментарий..." name="text" id="text"
                    class="form-control"
                   required>
        </div>
        <div style="height: 10%; display: flex; width: 20%; justify-content: space-between; margin-top: 25px">
            <input class="btn btn-4 btn-sm" type="submit"
                   value="{{ button_text }}">
        </div>
    </div>
</form>