{% extends 'base.html' %}

{% load static %}
{% block content %}

    <div class="table-responsive-md" >
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Фото</th>
                <th scope="col">Название</th>
                <th scope="col">Цена</th>
                <th scope="col">Статус</th>
                <th scope="col">Количество</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for product in products %}
                    <th scope="row">{{ product.id }}</th>
                    <td><img style="max-width: 100px" src="{{ product.photo.url }}" alt=""></td>
                    <td>{{ product.product_name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.available }}</td>
                    <td style="display: flex">
                        <form style="margin-right: 6%" action="{% url 'add_basket' product.pk %}" method="post">
                            {% csrf_token %}
                            <input class="btn btn-success" value="+" type="submit">
                        </form>
                        {% for basket in total_baskets %}
                            {% if product.pk == basket.product.pk %}
                                <input readonly style="width: 22px; border: none; text-align: center;" type="text" value="{{ basket.amount|default:0 }}">
                            {% else %}
                            {% endif %}
                        {% endfor %}
                        <form style="margin-left: 6%" action="{% url 'subtract_basket' product.pk %}" method="post">
                            {% csrf_token %}
                            <input class="btn btn-success" value="-" type="submit">
                        </form>
                    </td>
                    </tr>
                {% empty %}
                    <h2>проукты не найдены</h2>
                {% endfor %}
            </tbody>
        </table>
    </div>





    <div class="d-flex justify-content-center">
        {% if is_paginated %}
            <div>{% include 'common/pagination.html' %}</div>
        {% endif %}
    </div>

{% endblock %}

