{% csrf_token %}

<textarea class="form-control" name="text" id="text" cols="20" rows="8" placeholder="Напишите отзыв" style="box-shadow: 3px 4px 5px 6px #d7d7d7;">{{ form.text.value|default:''}}</textarea>
<label for="evaluation"></label>
<input type="number" class="form-control" name="evaluation" id="evaluation" placeholder="Оцените от 1 до 5"  style="box-shadow: 3px 4px 5px 6px #d7d7d7;" value="{{ form.evaluation.value|default:''}}" />

<button class="btn btn-outline-primary" type="submit" style="margin: 30px auto; color: #17de13; border-color: #17de13;">{{ button_text }}</button>



