{% for review in reviews %}
        <div class="card" style="width: 22rem; margin: 5px">
                <div class="card-body" >
                    <div class="article-metadata" style="display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 15px; " >
                      <a class="mr-2"
                         href="{% url 'profile' review.author.pk %}"> {{ review.author.username }}
                      </a>
                      <a class="mr-2"
                         href="{% url 'profile' review.author.pk %}"> {{ review.author.email }}
                      </a>
                      <div>
                      <small class="text-muted">{{ review.created_at|date:'Y-m-d' }}
                      </small>
                       <small class="text-muted">, {{ review.created_at|date:'G:i' }}
                      </small>
                      </div>

                    </div>

                    <div> <h6 class="card-subtitle mb-2 text-muted">{{ review.text }}</h6></div>
                    <div><p class="card-subtitle mb-2 text-muted">Оценка: {{ review.evaluation }}</p> </div>
                    <div style="width: 100px; display: inline " >

                        {% if perms.product.change_review or review.author == request.user %}
                            <a href="{% url 'update_review' review.pk  %}" class="card-link"
                              ><i class="fas fa-edit" style="font-size: 20px; margin: 5px"></i></a>
                        {% endif %}


                        {% if perms.product.delete_review or review.author == request.user %}
                            <a href="{% url 'delete_review' review.pk  %}" class="card-link"
                              ><i class="fas fa-trash-alt" style="font-size: 20px; color: red "></i></a>
                        {% endif %}

                    </div>

                </div>
            </div>
    {% empty %}
    Отзывы отсутствуют!
{% endfor %}



