{% extends 'base.html' %}

{% block content %}
    <div class="card"style="margin-top: 20px;">
        <div class="card-body">
            <h5 class="card-title">Заказ № {{ order.id }}</h5>
            <p class="card-text"><b>Клиент:</b> {{ order.telegram_user_id.first_name }} {{ order.shopping_cart_order.telegram_user_id.last_name }}</p>
            <p class="card-text"><b>Статус:</b> {{ order.status.status }}</p>
            <p class="card-text"><b>Дата заказа:</b> {{ order.updated_at|date:'d F Y' }}</p>
            <p class="card-text"><b>Время заказа:</b> {{ order.updated_at|date:'G:i' }}</p>
            <div class="order-buttons" style="display: flex; flex-wrap: wrap;">
                {% if order.status.status == 'Новый' %}
                    <div style="margin: 5px;">
                        <form action="{% url 'update_status_order' order.id %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="status" value="В процессе">
                            <input type="submit" class="btn btn-success" value="Принять">
                        </form>
                    </div>
                    <div style="margin: 5px;">
                        <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger" >Сделать возврат</a>
                    </div>
                {% endif %}
                {% if order.status.status == 'В процессе' %}
                    <div style="margin: 5px;">
                        <form action="{% url 'update_status_order' order.id %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="status" value="Выполнено">
                            <input type="submit" class="btn btn-success" value="Завершить заказ">
                        </form>
                    </div>
                {% endif %}
                <div style="margin: 5px;">
                    <a href="{% url 'orders_view' %}" class="btn btn-primary">Назад</a>
                </div>
            </div>
        </div>
    </div>
    <h3>Детали заказа</h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Блюдо</th>
                <th>Количество</th>
                <th>Цена</th>
                <th>Сумма</th>
            </tr>
            </thead>
            <tbody>
            {% for basket_order in order.basket_order.all %}
                <tr>
                    <td data-label="Блюдо">
                        {{ basket_order.product.product_name }}
                    </td>
                    {% if order.status_id == 1 %}
                        <td data-label="Количество">
                            <div style="display: flex; justify-content: center">
                                <form style="margin-right: 6%" action="{% url 'add_basket' basket_order.product.pk %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="order" id="order" value="{{ basket_order.order.id }}">
                                    <input type="hidden" name="user_id" id="user_id" value="{{ basket_order.telegram_user_id_id }}">
                                    <input class="btn btn-success" value="+" type="submit">
                                </form>
                                <input readonly style="width: 22px; border: none; text-align: center;" type="text" value="{{ basket_order.amount|default:0 }}">
                                <form style="margin-left: 6%" action="{% url 'subtract_basket' basket_order.product.pk %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="order" id="order" value="{{ basket_order.order.id }}">
                                    <input type="hidden" name="user_id" id="user_id" value="{{ basket_order.telegram_user_id_id }}">
                                    <input class="btn btn-success" value="-" type="submit">
                                </form>
                                </div>
                            </td>
                        {% else %}
                            <td data-label="Количество">
                                {{ basket_order.amount }}
                            </td>
                        {% endif %}
                    <td data-label="Цена">
                        {{ basket_order.product.price }}
                    </td>
                    <td data-label="Сумма">
                        {{ basket_order.product_total_price }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="total" style="margin-top: 40px">
        <p><b>Итого общая сумма продукта:</b> {{ order.sum_product_total_price }}</p>
        <p><b>10% за обслуживание:</b> {{ order.service_price }}</p>
        <p><b>Итого общая сумма:</b> {{ order.total_sum }}</p>
    </div>
    {% include 'common/cancel_order_view.html' with deleted_object=order %}
{% endblock %}

{% block script %}
    <script>
        window.setTimeout(function(){location.reload()},6000)
    </script>
{% endblock %}
