{% extends 'base.html' %}

{% load static %}
{% block content %}
    <ul id="tabs" style="margin-top: 20px;">
        <li><a href="#" name="tab1">Новые заказы</a></li>
        <li><a href="#" name="tab2">Заказы в процессе</a></li>
        <li><a href="#" name="tab3">Выполненные заказы</a></li>
    </ul>
    <div id="content" >
        <div id="tab1" class="row">
            {% include 'order/list_order.html' with name_status='Новый' %}
        </div>
        <div id="tab2" class="row">
            {% include 'order/list_order.html' with name_status='В процессе' %}
        </div>
        <div id="tab3" class="row">
            {% include 'order/list_order.html' with name_status='Выполнено' %}
        </div>
    </div>
{% endblock %}

