{% extends 'base.html' %}

{% load static %}
{% block content %}
    <ul id="tabs" class="tabs" style="margin-top: 20px;">
        <li><a href="{% url 'orders_view' status='Новый' %}"
                {% if status == 'Новый' %}
               style="background: #fff; z-index: 3;"
                {% endif %}
        >Новые заказы</a></li>
        <li><a href="{% url 'orders_view' status='В процессе' %}"
                {% if status == 'В процессе' %}
               style="background: #fff; z-index: 3;"
                {% endif %}
        >Заказы в процессе</a></li>
        <li><a href="{% url 'orders_view' status='Выполнено' %}"
                {% if status == 'Выполнено' %}
               style="background: #fff; z-index: 3;"
                {% endif %}
        >Выполненные заказы</a></li>
    </ul>
    <div class="content" >
        <div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Заказ</th>
                        <th>Статус</th>
                        <th>Дата заказа</th>
                        <th>Время заказа</th>
                        <th>Действие</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr>
                            <td data-label="Заказ №">
                                {{ order.id }}
                            </td>
                            <td data-label="Статус">
                                {{ order.status.status }}
                            </td>
                            <td data-label="Дата заказа">
                                {{ order.updated_at|date:'d F Y' }}
                            </td>
                            <td data-label="Время заказа">
                                {{ order.updated_at|date:'G:i' }}
                            </td>
                            <td data-label="Действие">
                                <a href="{% url 'detail_order' order.id %}" class="btn btn-2 btn-sm">Подробнее</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if is_paginated %}
                {% include 'common/pagination.html' %}
            {% endif %}
        </div>
    </div>
    <script>
        window.setTimeout(function(){location.reload()},15000)
    </script>
{% endblock %}

