{% extends 'base.html' %}

{% block content %}
  <form action="{% url 'update_status_order' order.id %}" method="POST">
    {% csrf_token %}
    <label for="status">Статус</label>
    <select class="form-control" name="status" id="status">
        {% for status in statuses %}
            {% if status.pk == form.status.value %}
                <option selected value="{{ status.pk }}">{{ status.status }}</option>
            {% else %}
                <option value="{{ status.pk }}">{{ status.status }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <input type="submit" class="form-control" value="Изменить">
  </form>
    <a href="{% url 'detail_order' order.id %}" class="btn btn-primary">Назад</a>
{% endblock %}