{% extends 'base.html' %}

{% load static %}
<style>
    .photo {
        display: inline-block; /* Строчно-блочный элемент */
        position: relative; /* Относительное позиционирование */
    }
    .photo:hover::after {
        content: attr(data-title); /* Выводим текст */
        position: absolute; /* Абсолютное позиционирование */
        right: 0; top: 50%; /* Положение подсказки */
        z-index: 1; /* Отображаем подсказку поверх других элементов */
    {#background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */#}
        font-family: Arial, sans-serif; /* Гарнитура шрифта */
        font-size: 15px; /* Размер текста подсказки */
        padding: 5px 10px; /* Поля */
        fon
    {#border: 1px solid #333; /* Параметры рамки */#}
    }
</style>
{% block content %}
    <ul class="tabs" style="margin-top: 20px;">
        <li><a href="{% url 'reserve_list' status='Новый' %}"
                {% if status == 'Новый' %}
               style="background: #fff; z-index: 3;"
                {% endif %}
        >Новые брони</a></li>
        <li><a href="{% url 'reserve_list' status='Выполнено' %}"
                {% if status == 'Выполнено' %}
               style="background: #fff; z-index: 3;"
                {% endif %}
        >Бронированные столики</a></li>
    </ul>
    <div class="content" >
        <div>
            <div class="table-responsive-3">
                <table class="table">
                    <thead>
                    <tr>
                        <th>№ брони</th>
                        <th>Стол №</th>
                        <th>Клиент</th>
                        <th>№ клиента</th>
                        <th>Дата брони</th>
                        <th>Время брони</th>
                        <th>Кол-во людей</th>
                        <th>Действие</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for reserv in reservations %}
                        <tr>
                            <td data-label="Номер брони">
                                {{ reserv.id }}
                            </td>
                            <td data-label="Стол №">
                                {% if status == 'Новый' %}
                                    <form id="table{{ reserv.id }}" action="{% url 'table_edit' reserv.id %}" method="POST">
                                        {% csrf_token %}
                                        <select name="table_number" class="form-control select">
                                            {% for obj in table %}
                                                {% if obj.0 == reserv.table_number %}
                                                    <option selected value="{{ obj.0 }}">{{ obj.1 }}</option>
                                                {% else %}
                                                    <option value="{{ obj.0 }}">{{ obj.1 }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </form>
                                {% else %}
                                    {{ reserv.table_number }}
                                {% endif %}
                            </td>
                            <td data-label="Клиент">
                                {{ reserv.telegram_user_id.first_name }}
                            </td>
                            <td data-label="Номер клиента">
                                <a href="tel:++{{ reserv.telegram_user_id.phone_number }}">
                                    +{{ reserv.telegram_user_id.phone_number }}
                                </a>
                            </td>
                            <td data-label="Дата брони">
                                {{ reserv.date|date:'d F Y' }}
                            </td>
                            <td data-label="Время брони">
                                {{ reserv.time|date:'G:i' }}
                            </td>
                            <td data-label="Кол-во людей">
                                {{ reserv.persons_number }}
                            </td>
                            <td data-label="Действие">
                                {% if status == 'Новый' %}
                                    {% load static %}
                                    <div style="display: flex; color: red">
                                        <div class="photo" data-title="Поставить бронь {{ reserv.telegram_user_id.first_name }}">
                                            <button class="btn" form="table{{ reserv.id }}"><img style="width: 30px; height: 25px" src="{% static 'images_common/reserve.png' %}" alt=""></button>

                                        </div>
                                        <div class="photo" data-title="Отменить бронь {{ reserv.telegram_user_id.first_name }}">
                                            <a class="btn" href="{% url 'delete_reserve' reserv.id %}"><img style="width: 30px; height: 25px" src="{% static 'images_common/cancel.png' %}" alt=""></a>

                                        </div>
                                        <div class="photo" data-title="Редактировать бронь {{ reserv.telegram_user_id.first_name }}">
                                            <a href="{% url 'update_reserve' reserv.id %}" class="btn"><img style="width: 30px; height: 25px" src="{% static 'images_common/edit.png' %}" alt=""></a>

                                        </div>
                                    </div>
                                {% else %}
                                    <div style="display: flex; color: red" class="photo" data-title="Редактировать бронь {{ reserv.telegram_user_id.first_name }}">
                                        <a href="{% url 'update_reserve' reserv.id %}" class="btn"><img style="width: 30px; height: 25px" src="{% static 'images_common/edit.png' %}" alt=""></a>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if is_paginated %}
                {% include 'common/pagination.html' %}
            {% endif %}
        </div>
    </div>
{% endblock %}