{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
        .rating-result {
            margin: 0 15px;
        }
        .rating-result span {
            padding: 0;
            font-size: 32px;

            line-height: 0;
            color: lightgrey;
            text-shadow: 0px 1px #bbb;

        }
        .rating-result > span:before {
            content: '★';
        }
        .rating-result > span.active {
            color: gold;
            text-shadow: 1px 1px #c60;
        }

    </style>

    {% load static %}
    <div class="card" style="margin-top: 3%; overflow-x: auto;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
border-radius: 10px;">
        <div class="card-header">№{{ feedback.id }}⠀Телеграмм пользователь: <b>{{ feedback.telegram_user_id.first_name }}</b>⠀
            <a href="tel:+{{ feedback.telegram_user_id.phone_number }}" style="text-decoration: none; color: black;">
                Телефон: <b>+{{ feedback.telegram_user_id.phone_number }}</b></a>
        </div>
        <div class="card-body">
            <h5 class="card-title" style="display: flex">
                <i>Оценка клиента:⠀</i> {{ feedback.quiz_answer }}
                <div class="rating-result">
                    <span {% if feedback.quiz_answer >= 1 %} class="active" {% endif %}></span>
                    <span {% if feedback.quiz_answer >= 2  %} class="active" {% endif %}></span>
                    <span {% if feedback.quiz_answer >= 3  %} class="active" {% endif %}></span>
                    <span {% if feedback.quiz_answer >= 4 %} class="active" {% endif %}></span>
                    <span {% if feedback.quiz_answer >= 5 %} class="active" {% endif %}></span>
                </div>

            </h5>
            {% if feedback.description is not None %}
                <p class="card-text"><i>Отзыв клиента:</i> {{ feedback.description }}</p>
            {% else %}
                <p class="card-text"><i>Отзыв клиента:</i> <span style="color: red">Без отзыва</span></p>
            {% endif %}

        </div>
        <div class="card-footer text-muted">
            {{ feedback.created_at }}
        </div>
        {% if user.is_authenticated %}
            <form id="createForm" >
                <div style="display: flex; justify-content: space-between">
                    <input type="hidden" id="author" name="author" value="{{ request.user.id }}">
                    <input type="hidden" id="feedback" name="feedback" value="{{ feedback.id }}">
                    <textarea rows="2" class="form-control" id="text" style="border: none;"
                              name="text" placeholder="Добавьте комментарий..."></textarea>
                    <input type="submit" class="create-resp btn btn-danger" value="Отправить">

                </div>
            </form>
        {% endif %}
    </div>

    <div style="margin-top: 3%; margin-left: auto; margin-right: auto">
        {% include 'comment/list_comment_view.html' %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script>
        console.log(Cookies.get('csrftoken'))
        console.log($('#createForm').serialize())

        $('#createForm').on("submit", function(e){
            e.preventDefault()
            var str = $(this).serialize()
            console.log((str))
            $.ajax({
                url: 'http://localhost:8000/api/v1/create/',
                type: 'POST',
                headers: {'Authorization': 'Token ' + localStorage.getItem('token')},
                headers: {'X-CSRFToken':Cookies.get('csrftoken')},
                data: str,
                success: function (result) {
                    location.reload()
                    console.log(result)}
            });
        })
    </script>

{% endblock %}
