{% extends 'base.html' %}

{% block content %}
    <style>
        .rating-result {
            margin: 0 15px;
        }
        .rating-result span {
            padding: 0;
            font-size: 32px;

            line-height: 0;
            color: lightgrey;
            text-shadow: 0px 1px #bbb;

        }
        .rating-result > span:before {
            content: '★';
        }
        .rating-result > span.active {
            color: gold;
            text-shadow: 1px 1px #c60;
        }

        .photo {
            display: inline-block; /* Строчно-блочный элемент */
            position: relative; /* Относительное позиционирование */
        }
        .photo:hover::after {
            content: attr(data-title); /* Выводим текст */
            position: absolute; /* Абсолютное позиционирование */
            left: 0%; top: 70%; /* Положение подсказки */
            z-index: 1; /* Отображаем подсказку поверх других элементов */
        {#background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */#}
            font-family: Arial, sans-serif; /* Гарнитура шрифта */
            font-size: 15px; /* Размер текста подсказки */
            padding: 5px 10px; /* Поля */
        {#border: 1px solid #333; /* Параметры рамки */#}
        }

    </style>
    <h1 style="text-align: center">Список отзывов</h1>


    <div class="rating-result">
        <b style="font-size: 25px"><i>Общая средняя оценка:</i> {{ avg_quiz_answer }}</b>
        <span style="font-size: 50px" {% if round_avg_quiz_answer >= 1 %} class="active" {% endif %}></span>
        <span style="font-size: 50px" {% if round_avg_quiz_answer >= 2  %} class="active" {% endif %}></span>
        <span style="font-size: 50px" {% if round_avg_quiz_answer >= 3  %} class="active" {% endif %}></span>
        <span style="font-size: 50px" {% if round_avg_quiz_answer >= 4 %} class="active" {% endif %}></span>
        <span style="font-size: 50px" {% if round_avg_quiz_answer >= 5 %} class="active" {% endif %}></span>

    </div>


    {% csrf_token %}
    {% for feedback in feedbacks %}

        <div class="card" style="margin-top: 3%">
            <div class="card-header">
                {% if user.is_authenticated %}
                    <div class="photo" data-title="Детальный просмотр, просмотр списков комментарии">
                        <a href="{% url 'detail_feedback' feedback.pk %}" style="text-decoration: none">
                            №{{ feedback.id }}
                            Автор: <b>{{ feedback.telegram_user_id.first_name }}</b> Телефон: <b>{{ feedback.telegram_user_id.phone_number }}</b>
                        </a>
                    </div>
                {% else %}
                    <div class="photo" data-title="Для просмотра списков комментарии необходимо авторизоваться">
                        <a href="{% url 'detail_feedback' feedback.pk %}" style="text-decoration: none">
                            №{{ feedback.id }}
                            Автор: <b>{{ feedback.telegram_user_id.first_name }}</b> Телефон: <b>{{ feedback.telegram_user_id.phone_number }}</b>
                        </a>
                    </div>
                {% endif %}
            </div>
            <div class="card-body">
                <h5 class="card-title" style="display: flex">
                    <i>Оценка клиента: </i> {{ feedback.quiz_answer }}
                    <div class="rating-result">
                        <span {% if feedback.quiz_answer >= 1 %} class="active" {% endif %}></span>
                        <span {% if feedback.quiz_answer >= 2  %} class="active" {% endif %}></span>
                        <span {% if feedback.quiz_answer >= 3  %} class="active" {% endif %}></span>
                        <span {% if feedback.quiz_answer >= 4 %} class="active" {% endif %}></span>
                        <span {% if feedback.quiz_answer >= 5 %} class="active" {% endif %}></span>
                    </div>

                </h5>
                {% if feedback.description is not None %}
                    <p class="card-text"><i>Отзыв клиента:</i> {{ feedback.description }}</p>
                {% else %}
                    <p class="card-text"><i>Отзыв клиента:</i> <span style="color: red">Без отзыва</span></p>
                {% endif %}

            </div>
            <div class="card-footer text-muted">
                {{ feedback.created_at }} <br>
                {% if user.is_authenticated %}
                    <div class="photo" data-title="Детальный просмотр, просмотр списков комментарии">
                        <a href="{% url 'detail_feedback' feedback.pk %}" style="text-decoration: none">
                            <p class="card-text"><i>Количество предоставленных ответов:</i>
                                <span style="color: red"><b>{{ feedback.feedback_average_amount }}</b></span></p>
                        </a>
                    </div>
                {% else %}
                    <div class="photo" data-title="Для просмотра списков комментарии необходимо авторизоваться">
                        <a href="{% url 'detail_feedback' feedback.pk %}" style="text-decoration: none">
                            <p class="card-text"><i>Количество предоставленных ответов:</i>
                                <span style="color: red"><b>{{ feedback.feedback_average_amount }}</b></span></p>
                        </a>
                    </div>
                {% endif %}
            </div>
            {% if user.is_authenticated %}
                <div style="border-top: 1px solid #e0d6d6; padding: 20px">
                    {% include 'partial/comment/comment_form.html' with button_text='Отправить' %}
                </div>
            {% endif %}
        </div>

    {% endfor %}

    <div class="d-flex justify-content-center">
        {% if is_paginated %}
            {% include 'common/pagination.html' %}
        {% endif %}
    </div>

{% endblock %}
