{% extends 'base.html' %}
{% block content %}
    <div class="rating-result">
        <b class="title_feedback"><i>Общая средняя оценка: </i> {{ avg_quiz_answer }}</b>
        <span {% if round_avg_quiz_answer >= 1 %} class="active feedback" {% endif %}></span>
        <span {% if round_avg_quiz_answer >= 2  %} class="active feedback" {% endif %}></span>
        <span {% if round_avg_quiz_answer >= 3  %} class="active feedback" {% endif %}></span>
        <span {% if round_avg_quiz_answer >= 4 %} class="active feedback" {% endif %}></span>
        <span {% if round_avg_quiz_answer >= 5 %} class="active feedback" {% endif %}></span>
    </div>
    {% csrf_token %}
    {% for feedback in feedbacks %}
        <div class="card" style="overflow-x: auto; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); margin-top: 30px; border-radius: 10px;">
            <div class="card-header" style="background-color: #2EC4B6;">
                {% if user.is_authenticated %}
                    <a href="{% url 'detail_feedback' feedback.pk %}" style="text-decoration: none; color: white;">
                        №{{ feedback.id }}⠀Автор: <b>{{ feedback.telegram_user_id.first_name }}</b>⠀</a>
                    <a href="tel:+{{ feedback.telegram_user_id.phone_number }}" style="text-decoration: none; color: white;">
                        Телефон: <b>+{{ feedback.telegram_user_id.phone_number }}</b></a>
                {% else %}
                    <a href="{% url 'detail_feedback' feedback.pk %}" style="text-decoration: none">
                        №{{ feedback.id }}
                        Автор: <b>{{ feedback.telegram_user_id.first_name }}</b> Телефон: <b>{{ feedback.telegram_user_id.phone_number }}</b>
                    </a>
                {% endif %}
            </div>
            <div class="card-body" style="color: #444;">
                <h5 class="card-title" style="display: flex">
                    <i>Оценка клиента:⠀</i>{{ feedback.quiz_answer }}
                    <div class="rating-result" style="margin: 0 15px;">
                        <span {% if feedback.quiz_answer >= 1 %} class="active" {% endif %}></span>
                        <span {% if feedback.quiz_answer >= 2  %} class="active" {% endif %}></span>
                        <span {% if feedback.quiz_answer >= 3  %} class="active" {% endif %}></span>
                        <span {% if feedback.quiz_answer >= 4 %} class="active" {% endif %}></span>
                        <span {% if feedback.quiz_answer >= 5 %} class="active" {% endif %}></span>
                    </div>

                </h5>
                {% if feedback.description is not None %}
                    <p class="card-text"><i>Отзыв клиента:</i> {{ feedback.description }}</p>
                {% else %}
                    <p class="card-text"><i>Отзыв клиента:</i> <span style="color: red">Без отзыва</span></p>
                {% endif %}

            </div>
            <div class="card-footer text-muted">
                {{ feedback.created_at }} <br>
                {% if user.is_authenticated %}
                    <a href="{% url 'detail_feedback' feedback.pk %}" style="text-decoration: none">
                        <p class="card-text"><i style="color: #444;">Количество предоставленных ответов:</i>
                            <span style="color: red"><b>{{ feedback.feedback_average_amount }}</b></span></p>
                    </a>
                {% else %}
                    <a href="{% url 'detail_feedback' feedback.pk %}" style="text-decoration: none">
                        <p class="card-text"><i>Количество предоставленных ответов:</i>
                            <span style="color: red"><b>{{ feedback.feedback_average_amount }}</b></span></p>
                    </a>
                {% endif %}
            </div>
            {% if user.is_authenticated %}
                <div style="border-top: 1px solid #e0d6d6; padding: 20px">
                    {% include 'partial/comment/comment_form.html' with button_text='Отправить' %}
                </div>
            {% endif %}
        </div>

    {% endfor %}

    <div class="d-flex justify-content-center">
        {% if is_paginated %}
            {% include 'common/pagination.html' %}
        {% endif %}
    </div>

{% endblock %}
